@charset "UTF-8";
@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "opensanslight";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.logo {
  display: block;
  margin: 0 auto -70px 60px;
  font: 48px/1.3 gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
}

.logo-title {
  text-decoration: none;
  color: #282828;
}
.logo-title:hover {
  opacity: 0.6;
  cursor: pointer;
}
.logo-title:active {
  opacity: 0.3;
  cursor: pointer;
}

/* Chrome, Opera, Safari */
details summary::-webkit-details-marker {
  display: none;
}

details :focus {
  outline: 0;
}

/* Firefox */
details, summary {
  display: block;
}

details summary:before {
  content: " ";
}

details[open] summary:before {
  content: " ";
}

.form {
  display: flex;
  align-items: center;
  position: relative;
  width: 445px;
  height: 42px;
  margin-right: 300px;
}
.form:hover .input {
  opacity: 0.6;
}
.form:active {
  border-bottom: 2px solid #282828;
}
.form:active .button {
  outline: none;
  visibility: visible;
}
.form:focus {
  border-bottom: 2px solid #282828;
}
.form:focus .button {
  outline: none;
  visibility: visible;
}

.input {
  height: 42px;
  padding: 0 42px 0 25px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.3;
}
.input:hover {
  opacity: 0.6;
}
.input:focus {
  z-index: 1;
  border-bottom: 2px solid #282828;
  opacity: 1;
}
.input::placeholder {
  font: 15px/36px opensanslight, Arial, sans-serif;
}

.button {
  background: #f7e296;
  border: 2px solid #282828;
  margin-left: 350px;
  height: 46px;
  width: 82px;
  color: #282828;
  visibility: hidden;
  font-size: 10pt;
  transition: all 0.55s ease;
}

.button:hover {
  background: #282828;
  color: white;
}

.header {
  max-width: 1040px;
  margin: 40px auto 0 auto;
  padding: 50px 60px 100px 60px;
  color: #282828;
  background: #f7e296;
}
.header .form_search {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  height: 42px;
}
.header .form_search .header__search {
  border: none;
  outline: none;
  background: none;
  opacity: 0.3;
  font: 15px/36px opensanslight, Arial, sans-serif;
}
.header .form_search .header__search:hover {
  opacity: 0.6;
}
.header .form_search .header__search:focus {
  opacity: 1;
  border-bottom: 2px solid #282828;
}
.header .button_search {
  background: #282828;
  color: white;
  border: 2px solid #282828;
  vertical-align: middle;
}
.header .header__select {
  background: none;
  border: none;
}
.header .header__button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  font: 15px/36px opensanslight, Arial, sans-serif;
  background: none;
  border: none;
}
.header .header__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header .header__button:active {
  opacity: 0.3;
  cursor: pointer;
}
.header .header__button.margin-left-220px {
  margin-left: 220px;
}
.header .header__button.text-right {
  float: right;
}
.header .header__nav .header__li {
  text-decoration: none;
  color: #282828;
  letter-spacing: 4px;
  font: 18px/30px gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
}
.header .header__nav .header__li:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header .header__nav .header__li:active {
  opacity: 0.3;
  cursor: pointer;
}
.header .header__nav .header__li.margin-left-35px {
  margin-left: 35px;
}
.header .header__nav .header__li.text-right {
  float: right;
}

.main {
  max-width: 1160px;
  margin: auto;
}

.yellow_block {
  background: #f7e296;
  min-height: 112px;
}

.main-nav {
  margin: -110px auto 100px auto;
  display: flex;
  justify-content: space-around;
}

.main-block2 {
  margin-top: 25px;
}

.main-line_top {
  margin-bottom: -35px;
  width: 17%;
}

.main-text {
  font: 15px/30px opensanslight, Arial, sans-serif;
}

.main-button {
  text-decoration: line-through;
  text-decoration-color: #ffc600;
  border: none;
}

.main-h2 {
  font: 47px/60px gilroyextrabold, Arial, sans-serif;
  margin-bottom: 0;
}

.main-number {
  font: 179px/36px gilroyextrabold, Arial, sans-serif;
  color: white;
}

.menu {
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-block {
  text-decoration: none;
  color: #282828;
  font: 18px/20px gilroyextrabold, Arial, sans-serif;
}
.menu-block:active {
  opacity: 0.3;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background: #f7e296;
  margin-bottom: 39px;
}
.menu-item:hover {
  background: #ffc600;
  cursor: pointer;
}
.menu-item:active {
  background: #ffc600;
  cursor: pointer;
}

.menu-item__done {
  align-items: flex-end;
  padding-bottom: 1px;
}

.grey_block {
  min-height: 288px;
  width: 100%;
  background: #e5e5e5;
}

.grey_block__tabs {
  position: relative;
  max-width: 1160px;
  height: 320px;
  margin: 150px auto 0 auto;
}

.grey_block__input {
  opacity: 0;
  background: black;
}

.grey_block__tab {
  margin-left: -100px;
  display: none;
  min-height: 235px;
  /* 50px × 3 вкладки */
}

.tab1 {
  width: 60%;
  margin-top: -120px;
  border-left: 7px solid black;
}

.grey_block__lable {
  letter-spacing: 4px;
  font: 18px/30px gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 24%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  text-align: start;
}

.grey_block__lable:nth-of-type(2) {
  top: 51px;
  /* 50px + 1px border */
}

.grey_block__lable:nth-of-type(3) {
  top: 102px;
  /* 50px + 1px border первой вкладки + 1px border второй вкладки */
}

.grey_block__input[type=radio]:checked + .grey_block__lable {
  color: #f7e296;
  background: #000000;
}

.grey_people {
  margin-left: 120px;
  margin-top: -30px;
}

.grey_block-h2 {
  margin-top: 80px;
  margin-left: 115px;
  font: 47px/36px gilroyextrabold, Arial, sans-serif;
}

.grey_block-text {
  margin-left: 115px;
  font: 15px/30px opensanslight, Arial, sans-serif;
}

.grey_block__input:nth-of-type(1):checked ~ .grey_block__tab:nth-of-type(1),
.grey_block__input:nth-of-type(2):checked ~ .grey_block__tab:nth-of-type(2),
.grey_block__input:nth-of-type(3):checked ~ .grey_block__tab:nth-of-type(3) {
  display: flex;
  padding: 1px 0 1px 34%;
}

.tab-radio:nth-of-type(1):checked ~ #sad {
  display: flex;
  padding: 1px 0 1px 34%;
}

.logo-menu {
  margin: 110px auto;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-dji :hover {
  background: url("../images/dji-color.png");
  cursor: pointer;
}

.logo-sp_gadgets :hover {
  background: url("../images/sp_gadgets-color.png");
  cursor: pointer;
}

.logo-gopro :hover {
  background: url("../images/gopro-color.png");
  cursor: pointer;
}

.logo-vive :hover {
  background: url("../images/vive-color.png");
  cursor: pointer;
}

.about_us {
  margin: 0 auto 50px auto;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
}

.about_us-info {
  width: 50%;
}

.about_us-contact {
  width: 50%;
}

.about_us-line_top {
  width: 13%;
}

.about_us-lable {
  margin-top: 55px;
  font: 47px/36px gilroyextrabold, Arial, sans-serif;
}

.about_us-text {
  font: 15px/30px opensanslight, Arial, sans-serif;
}

.about_us-text-mb {
  margin-bottom: 80px;
}

.about_us-ul {
  padding: 0;
}

.about_us-li {
  list-style-type: circle;
  color: #e5e5e5;
  font: 15px/30px gilroyextrabold, Arial, sans-serif;
}

.about_us-li-name {
  color: #282828;
}

.about_us-map {
  margin-top: 25px;
}

.footer {
  width: 100%;
  min-height: 327px;
  background: #464646;
}

.footer-content {
  display: flex;
  margin: auto;
  max-width: 1160px;
}

.footer-block1, .footer-block3 {
  padding-top: 70px;
  width: 32%;
}

.logo-footer {
  text-decoration: none;
  color: #ffc600;
  font: 48px/1.3 gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
}
.logo-footer:hover {
  opacity: 0.6;
  cursor: pointer;
}
.logo-footer:active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-line_bottom {
  width: 20%;
}

.footer-block2 {
  width: 36%;
}

.footer-form {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
}
.social__item {
  margin: 55px 10px;
}
.social__image {
  opacity: 0.6;
}
.social__image:hover {
  opacity: 1;
}
.social__image:active {
  opacity: 0.3;
}

.footer-nav {
  margin-top: 37%;
  display: flex;
  justify-content: space-between;
}

.footer-li {
  text-decoration: none;
  letter-spacing: 4px;
  font: 18px/30px gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
}
.footer-li:hover {
  opacity: 0.6;
  cursor: pointer;
}
.footer-li:active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-button {
  font: 15px/36px opensanslight, Arial, sans-serif;
  background: none;
  border: none;
  color: white;
  opacity: 0.6;
}
.footer-button:hover {
  opacity: 1;
  cursor: pointer;
}
.footer-button:active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-button_image {
  fill: #282828;
}

.footer-telephone {
  margin-top: 42px;
  text-align: end;
}

.footer-address, .footer-telephone {
  font: 15px/36px opensanslight, Arial, sans-serif;
  color: white;
}

.footer-logo_html {
  margin-top: 55px;
  display: block;
  text-align: end;
}
.footer-logo_html:hover {
  opacity: 0.6;
  cursor: pointer;
}
.footer-logo_html:active {
  opacity: 0.3;
  cursor: pointer;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Modal Content */
}
.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-height: 400px;
  max-width: 700px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
  /* The Close Button */
}
.modal__content .close {
  border-radius: 50%;
  background: #f7e296;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__content .close:hover,
.modal__content .close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__element {
  margin: auto;
  background: #e5e5e5;
}

/*# sourceMappingURL=main.css.map */
