@charset "UTF-8";
@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "opensanslight";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.logo {
  display: block;
  margin: 0 auto -70px 60px;
  text-decoration: none;
  color: #282828;
  font: 48px/1.3 gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
}
.logo:hover {
  opacity: 0.6;
  cursor: pointer;
}
.logo:active {
  opacity: 0.3;
  cursor: pointer;
}

.header {
  max-width: 1040px;
  margin: 40px auto 0 auto;
  padding: 50px 60px;
  color: #282828;
  background: #f7e296;
  display: flex;
}

.header-block {
  width: 50%;
}

.header-submit {
  vertical-align: -2px;
  background: none;
  border: none;
}

.header-search {
  opacity: 0.3;
  font: 15px/36px opensanslight, Arial, sans-serif;
  background: none;
  border: none;
}
.header-search:hover {
  opacity: 0.6;
}
.header-search:focus {
  opacity: 1;
}

.header-select {
  display: block;
  background: none;
  border: none;
}

.header-button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  font: 15px/36px opensanslight, Arial, sans-serif;
  background: none;
  border: none;
}
.header-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header-button:active {
  opacity: 0.3;
  cursor: pointer;
}

.text_right {
  float: right;
}

.margin_left-35px {
  margin-left: 35px;
}

.margin_left-220px {
  margin-left: 220px;
}

.header-li {
  text-decoration: none;
  color: #282828;
  letter-spacing: 4px;
  font: 18px/30px gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
}
.header-li:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header-li:active {
  opacity: 0.3;
  cursor: pointer;
}

.main {
  max-width: 1160px;
  margin: auto;
}

.main-yellow_block {
  background: #f7e296;
  min-height: 112px;
}

.main-nav {
  margin: -110px auto 100px auto;
  display: flex;
  justify-content: space-around;
}

.main-block2 {
  margin-top: 25px;
}

.main-line_top {
  margin-bottom: -35px;
  width: 17%;
}

.main-text {
  font: 15px/30px opensanslight, Arial, sans-serif;
}

.main-button {
  text-decoration: line-through;
  text-decoration-color: #ffc600;
  border: none;
}

.main-h2 {
  font: 47px/60px gilroyextrabold, Arial, sans-serif;
  margin-bottom: 0;
}

.main-number {
  font: 179px/36px gilroyextrabold, Arial, sans-serif;
  color: white;
}

.menu {
  margin: auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
}

.menu-block {
  text-decoration: none;
  color: #282828;
  font: 18px/20px gilroyextrabold, Arial, sans-serif;
}
.menu-block:active {
  opacity: 0.3;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background: #f7e296;
  margin-bottom: 39px;
}
.menu-item:hover {
  background: #ffc600;
  cursor: pointer;
}

.menu-item__done {
  align-items: flex-end;
  padding-bottom: 1px;
}

.grey_block {
  min-height: 288px;
  width: 100%;
  background: #e5e5e5;
}

.grey_block-tabs {
  position: relative;
  max-width: 1160px;
  height: 320px;
  margin: auto;
}

.grey_block-input {
  opacity: 0;
}

.grey_block-tab {
  display: none;
  min-height: 150px;
  /* 50px × 3 вкладки */
}

.grey_block-lable {
  position: absolute;
  left: 0;
  top: 0;
  width: 24%;
  height: 50px;
  border-right: 5px solid #000000;
  line-height: 50px;
  text-align: start;
}

.grey_block-lable:nth-of-type(2) {
  top: 51px;
  /* 50px + 1px border */
}

.grey_block-lable:nth-of-type(3) {
  top: 102px;
  /* 50px + 1px border первой вкладки + 1px border второй вкладки */
}

.grey_block-input[type=radio]:checked + .grey_block-lable {
  color: #f7e296;
  background: #000000;
}

.grey_block-h2 {
  font: 47px/36px gilroyextrabold, Arial, sans-serif;
}

.grey_block-text {
  font: 15px/30px opensanslight, Arial, sans-serif;
}

.grey_block-input:nth-of-type(1):checked ~ .grey_block-tab:nth-of-type(1),
.grey_block-input:nth-of-type(2):checked ~ .grey_block-tab:nth-of-type(2),
.grey_block-input:nth-of-type(3):checked ~ .grey_block-tab:nth-of-type(3) {
  display: flex;
  padding: 1px 0 1px 34%;
}

.logo-menu {
  margin: 110px auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
}

.logo-dji :hover {
  background: url(../images/dji-color.png);
  cursor: pointer;
}

.logo-sp_gadgets :hover {
  background: url(../images/sp_gadgets-color.png);
  cursor: pointer;
}

.logo-gopro :hover {
  background: url(../images/gopro-color.png);
  cursor: pointer;
}

.logo-vive :hover {
  background: url(../images/vive-color.png);
  cursor: pointer;
}

.about_us {
  margin: 0 auto 50px auto;
  max-width: 1160px;
  display: flex;
}

.about_us-info {
  width: 50%;
}

.about_us-contact {
  width: 50%;
}

.about_us-line_top {
  width: 13%;
}

.about_us-lable {
  margin-top: 55px;
  font: 47px/36px gilroyextrabold, Arial, sans-serif;
}

.about_us-text {
  font: 15px/30px opensanslight, Arial, sans-serif;
}

.about_us-text-mb {
  margin-bottom: 80px;
}

.about_us-ul {
  padding: 0;
}

.about_us-li {
  list-style-type: circle;
  color: #e5e5e5;
  font: 15px/30px gilroyextrabold, Arial, sans-serif;
}

.about_us-li-name {
  color: #282828;
}

.about_us-map {
  margin-top: 25px;
}

.footer {
  width: 100%;
  min-height: 327px;
  background: #464646;
}

.footer-content {
  display: flex;
  margin: auto;
  max-width: 1160px;
}

.footer-block1, .footer-block3 {
  padding-top: 70px;
  width: 32%;
}

.logo-footer {
  text-decoration: none;
  color: #ffc600;
  font: 48px/1.3 gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
}
.logo-footer:hover {
  opacity: 0.6;
  cursor: pointer;
}
.logo-footer:active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-line_bottom {
  width: 20%;
}

.footer-block2 {
  width: 36%;
}

.footer-form {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-nav {
  margin-top: 37%;
  display: flex;
  justify-content: space-between;
}
.footer-nav :hover {
  opacity: 0.6;
  cursor: pointer;
}
.footer-nav :active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-li {
  text-decoration: none;
  letter-spacing: 4px;
  font: 18px/30px gilroyextrabold, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
}
.footer-li:hover {
  opacity: 0.6;
  cursor: pointer;
}
.footer-li:active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-button {
  font: 15px/36px opensanslight, Arial, sans-serif;
  background: none;
  border: none;
  color: white;
  opacity: 0.6;
}
.footer-button:hover {
  opacity: 1;
  cursor: pointer;
}
.footer-button:active {
  opacity: 0.3;
  cursor: pointer;
}

.footer-button_image {
  fill: #282828;
}

.footer-telephone {
  margin-top: 42px;
  text-align: end;
}

.footer-address, .footer-telephone {
  font: 15px/36px opensanslight, Arial, sans-serif;
  color: white;
}

.footer-logo_html {
  margin-top: 55px;
  display: block;
  text-align: end;
}
.footer-logo_html:hover {
  opacity: 0.6;
  cursor: pointer;
}
.footer-logo_html:active {
  opacity: 0.3;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
