@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff') format('woff'), url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff') format('woff'), url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'opensanslight';
    src: url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//color
$grey-color:#e5e5e5;
$bg-color: #ffffff;
$footer-color: #464646;
$main-color: #f7e296;
$image-color: #282828;
$fl-color: #ffc600;

//fonts
$font_gilroy-bold: gilroyextrabold, Arial, sans-serif;
$font_gilroy-light: gilroylight, Arial, sans-serif;
$font_opensans: opensans, Arial, sans-serif;
$font_opensans-light: opensanslight, Arial, sans-serif;

/* Chrome, Opera, Safari */
details summary::-webkit-details-marker {
  display: none;
}
details :focus {
  outline: 0;
}
/* Firefox */
details, summary {
  display: block;
}
details summary:before {
  content: " ";
}
details[open] summary:before {
  content: " ";
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: auto;
  max-width: 1160px;
}

