
@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff') format('woff'), url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff') format('woff'), url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'opensanslight';
    src: url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//color
$grey-color:#e5e5e5;
$bg-color: #ffffff;
$footer-color: #464646;
$main-color: #f7e296;
$image-color: #282828;
$fl-color: #ffc600;

//fonts
$font_gilroy-bold: gilroyextrabold, Arial, sans-serif;
$font_gilroy-light: gilroylight, Arial, sans-serif;
$font_opensans: opensans, Arial, sans-serif;
$font_opensans-light: opensanslight, Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.logo {
  display: block;
  margin: 0 auto -70px 60px;
  font: 48px/1.3 $font_gilroy-bold;
  text-transform: uppercase;
}

.logo-title {
  text-decoration: none;
  color: $image-color;
  &:hover {
    opacity: .6;
    cursor: pointer;
  }

  &:active {
    opacity: .3;
    cursor: pointer;
  }
}

.header {
  max-width: 1040px;
  margin: 40px auto 0 auto;
  padding: 50px 60px;
  color: $image-color;
  background: $main-color;
  display: flex;

  .header__block {
    width: 50%;
  }
  .header__submit {
    vertical-align: -2px;
    background: none;
    border: none;
  }
  .header__search {
    opacity: .3;
    font: 15px/36px $font_opensans-light;
    background: none;
    border: none;
    &:hover {
      opacity: .6;
    }
    &:focus {
      opacity: 1;
    }
  }
  .header__select {
    display: block;
    background: none;
    border: none;
  }
  .header__button {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
    font: 15px/36px $font_opensans-light;
    background: none;
    border: none;
    &:hover {
      opacity: .6;
      cursor: pointer;
    }
    &:active {
      opacity: .3;
      cursor: pointer;
    }
    &.margin-left-220px {
      margin-left: 220px;
    }
    &.text-right {
      float: right;
    }
  }
  .header__nav {
    .header__li {
      text-decoration: none;
      color: $image-color;
      letter-spacing: 4px;
      font: 18px/30px $font_gilroy-bold;
      text-transform: uppercase;
      &:hover {
        opacity: .6;
        cursor: pointer;
      }
      &:active {
        opacity: .3;
        cursor: pointer;
      }
      &.margin-left-35px {
        margin-left: 35px;
      }
      &.text-right {
        float: right;
      }
    }
  }
}

.main {
  max-width: 1160px;
  margin: auto;
}
.main-yellow_block {
  background: $main-color;
  min-height: 112px;
}

.main-nav {
  margin: -110px auto 100px auto;
  display: flex;
  justify-content: space-around;
}

.main-block {
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.main-block2 {
  margin-top: 25px;
}

.main-line_top {
  margin-bottom: -35px;
  width: 17%;
}

.main-text {
  font: 15px/30px $font_opensans-light;
}

.main-button {
  text-decoration: line-through;
  text-decoration-color: $fl-color;
  border: none;
}

.main-h2 {
  font: 47px/60px $font_gilroy-bold;
  margin-bottom: 0;
}

.main-number {
  font: 179px/36px $font_gilroy-bold;
  color: white;
}

.menu {
  margin: auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
}

.menu-block {
  text-decoration: none;
  color: $image-color;
  font: 18px/20px $font_gilroy-bold;
  &:active {
    opacity: .3;
  }
}

.menu-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background: $main-color;
  margin-bottom: 39px;
    &:hover{
      background: $fl-color;
      cursor: pointer;
    }
    &:active {
      background: $fl-color;
      cursor: pointer;
    }
}

.menu-item__done {
  align-items: flex-end;
  padding-bottom: 1px;
}

.grey_block {
  min-height: 288px;
  width: 100%;
  background: $grey-color;
}

.grey_block__tabs {
  position: relative;
  max-width: 1160px;
  height: 320px;
  margin: 150px auto 0 auto;
}
.grey_block__input {
  opacity: 0;
  background: black;
}

.grey_block__tab {
  margin-left: -100px;
  display: none;
  min-height: 235px; /* 50px × 3 вкладки */
}

.tab1{
  width: 60%;
  margin-top: -120px;
  border-left: 7px solid black;
}

.grey_block__lable {
  letter-spacing: 4px;
  font: 18px/30px $font_gilroy-bold;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 24%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  text-align: start;
}
.grey_block__lable:nth-of-type(2) {
  top: 51px; /* 50px + 1px border */
}
.grey_block__lable:nth-of-type(3) {
  top: 102px; /* 50px + 1px border первой вкладки + 1px border второй вкладки */
}
.grey_block__input[type="radio"]:checked + .grey_block__lable {
  color: $main-color;
  background: #000000;
}

.grey_people {
  margin-left: 120px;
  margin-top: -30px;
}

.grey_block-h2 {
  margin-top: 80px;
  margin-left: 115px;
  font: 47px/36px $font_gilroy-bold;
}

.grey_block-text {
  margin-left: 115px;
  font: 15px/30px $font_opensans-light;
}

.grey_block__input:nth-of-type(1):checked ~ .grey_block__tab:nth-of-type(1),
.grey_block__input:nth-of-type(2):checked ~ .grey_block__tab:nth-of-type(2),
.grey_block__input:nth-of-type(3):checked ~ .grey_block__tab:nth-of-type(3) {
  display: flex;
  padding: 1px 0 1px 34%;
}

.tab-radio:nth-of-type(1):checked ~ #sad {
  display: flex;
  padding: 1px 0 1px 34%;
}
.logo-menu {
  margin: 110px auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
}

.logo-dji {
  :hover {
    background: url(../images/dji-color.png);
    cursor: pointer;
  }
}

.logo-sp_gadgets {
  :hover {
    background: url(../images/sp_gadgets-color.png);
    cursor: pointer;
  }
}

.logo-gopro {
  :hover {
    background: url(../images/gopro-color.png);
    cursor: pointer;
  }
}

.logo-vive {
  :hover {
    background: url(../images/vive-color.png);
    cursor: pointer;
  }
}

.about_us{
  margin: 0 auto 50px auto;
  max-width: 1160px;
  display: flex;
}

.about_us-info {
  width: 50%;
}

.about_us-contact {
  width: 50%;
}

.about_us-line_top {
  width: 13%;
}

.about_us-lable {
  margin-top: 55px;
  font: 47px/36px $font_gilroy-bold;
}

.about_us-text {
  font: 15px/30px $font_opensans-light;
}

.about_us-text-mb {
  margin-bottom: 80px;
}

.about_us-ul {
  padding: 0;
}

.about_us-li {
  list-style-type: circle;
  color: $grey-color;
  font: 15px/30px $font_gilroy-bold;
}

.about_us-li-name {
  color: $image-color;
}

.about_us-map {
  margin-top: 25px;
}

.footer {
  width: 100%;
  min-height: 327px;
  background: $footer-color;
}

.footer-content {
  display: flex;
  margin: auto;
  max-width: 1160px;
}

.footer-block1, .footer-block3 {
  padding-top: 70px;
  width: 32%;
}
.logo-footer {
  text-decoration: none;
  color: $fl-color;
  font: 48px/1.3 $font_gilroy-bold;
  text-transform: uppercase;

  &:hover {
    opacity: .6;
    cursor: pointer;
  }

  &:active {
    opacity: .3;
    cursor: pointer;
  }
}

.footer-line_bottom {
  width: 20%;
}

.footer-block2 {
  width: 36%;
}

.footer-form {
  display: flex;
  justify-content: space-between
}

.social {
  display: flex;
  justify-content: center;

  &__item {
    margin: 55px 10px;
  }

  &__image {
    opacity: .6;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: .3;
    }
  }
}

.footer-nav {
  margin-top: 37%;
  display: flex;
  justify-content: space-between;
}

.footer-li {
  text-decoration: none;
  letter-spacing: 4px;
  font: 18px/30px $font_gilroy-bold;
  text-transform: uppercase;
  color: white;
  &:hover {
    opacity: .6;
    cursor: pointer;
  }
  &:active {
    opacity: .3;
    cursor: pointer;
  }
}

.footer-button {
  font: 15px/36px $font_opensans-light;
  background: none;
  border: none;
  color: white;
  opacity: .6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &:active {
    opacity: .3;
    cursor: pointer;
  }
}

.footer-button_image {
  fill: $image-color;
}

.footer-telephone {
  margin-top: 42px;
  text-align: end;
}

.footer-address, .footer-telephone{
  font: 15px/36px $font_opensans-light;
  color: white;
}

.footer-logo_html {
  margin-top: 55px;
  display: block;
  text-align: end;
  &:hover {
    opacity: .6;
    cursor: pointer;
  }
  &:active {
    opacity: .3;
    cursor: pointer;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* Modal Content */
  &__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-height: 400px;
  max-width: 700px;
  box-shadow: 2px 10px 10px rgba(0,0,0,0.5);
    /* The Close Button */
  .close {
    border-radius: 50%;
    background: $main-color;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
      :focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  &__element {
    margin: auto;
    background: $grey-color;
  }
}








